/* General button style */
.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    /* margin: 15px 30px; */
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .btn:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  

  .btn-sep:before {
    background: rgba(0,0,0,0.15);
  }

  /* amazon */
  .btn-amazon {
    background: #232F3F;
    color: #fff;
  }
  
  .btn-amazon:hover {
    background: #232F3F;
  }
  
  .btn-amazon:active {
    background: #232F3F;
    top: 2px;
  }
  
  .btn-amazon:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }

  /* Mercado Libre */
  .btn-ml {
    background: #FFF159;
    color: rgb(82, 82, 82);
  }
  
  .btn-ml:hover {
    background: #FFF159;
  }
  
  .btn-ml:active {
    background: #FFF159;
    top: 2px;
  }
  
  .btn-ml:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Nuestro */
  .btn-git {
    background: #0145ac;
    color: rgb(255, 255, 255);
  }
  
  .btn-git:hover {
    background: #0145ac;
  }
  
  .btn-git:active {
    background: #0145ac;
    top: 2px;
  }
  
  .btn-git:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
    
  /* Icons */
  
  .icon-cart:before {
    content: "\f07a";
  }
  
  .icon-heart:before {
    content: "\f55a";
  }
  
  .icon-info:before {
    content: "\f05a";
  }
  
  .icon-send:before {
    content: "\f1d8";
  }

  .fa-bookmark-o:before {
    content: "\f097";
  }

        